.sidebar {
    position: fixed;
    right: 50%;
    top: --scrollTop;
    width: 150px;

    &__container {}

    &__comments,
    &__write {
        text-align: center;
    }
}

.comments__title,
.write__title {
    margin: 20px auto;
    font-weight: bold;
}

.comments__text {}