.sidebar {
    position: absolute;
    right: 0;
    top: 20px;
    width: 150px;

    &__container {}

    &__comments {
        text-align: center;
    }
}

.comments__title {
    margin: 20px auto;
    font-weight: bold;
}

.comments__text {}